body {
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    background: #1e272e;
    color: #c5c6c7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Intro Container Styles */
.intro__container {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222f3e;
    background-image: linear-gradient(to bottom, #222f3e 95%, #1e272e 100%);
}

.primary_name {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-transform: uppercase;
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;

    @media (max-width: 480px) {
        font-size: 2.5rem;
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.primary__desc {
    font-size: 1.6rem;
    margin: 0;
    text-align: center;

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}

/* About Container Styles */
.about__container {
    height: 100vh;
    width: 95%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        height: 75vh;
        align-items: flex-end;
    }
}

.about__container-photo {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 768px) {
        display: none;
    }
}

.about__container-img {
    border-radius: 50%;
    border: 2px solid #fff;

    @media (max-width: 1250px) {
        width: 80%;
    }
}

.about__container-text {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 2rem;
    text-justify: auto;

    @media (max-width: 768px) {
        width: 80%;
    }
}

.about__container-title {
    border-bottom: 1px solid #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    margin-top: 0;
}

.about__text {
    font-size: 1.6rem;
    margin: 1rem 0;
    text-align: center;

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}

.projects {
    height: 100vh;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.footer {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #fff;
}

.footer__text {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}